.text-navy {
    color: #1e3050 !important;
}

.hover-bg-light:hover {
    background-color: #f8f9fa;
    color: #1e3050 !important;
}

.transition-all {
    transition: all 0.2s ease-in-out;
}

.sidebar {
    background-color: #f8f9fc !important;
    overflow-y: auto;
}
